<div id="cover-content" class='block'>
    <div id="cover-description">
        <h1 id='main-cover-title' class='block'>{{ data.title }}</h1>
        <p class='cover-description'>{{ data.cover_description }}</p>
        <p> {{ data.data1 }}</p>
        <p> {{ data.username }}</p>
        <p>{{ data.companyEditUrl }}</p>
        <p> <a href='{{ data.companyEditUrl}} '>{{ data.company }}</a> </p>
    </div>
</div>
