{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content  %}
     {#{{ content }} #}
     {#<pre><h2>Context keys:</h2>{{ dump(_context|keys) }}</pre>#}
     <h1 class="nombre_empresa text-uppercase text-center bg-secondary text-white">{{ content.field_nombre_comercial }}</h1>
     <div class="logo-empresa mx-auto col-8 col-sm-4  md-col-3 ">{{ content.field_company_thumbnail }}</div>
     <div class="datos-empresa w-100 sm-col-12">
         <div class="datos-texto">
             <div class="descripion-empresa">{{ content.field_descripcion_de_la_empresa }}</div>
             <div class="direccion_pabellon">{{ content.field_direccion_no_del_pabellon_ }}</div>
             <div class="telefono-contacto">{{ content.field_telefono_de_contacto }}</div>
             <div class="productos-empresa">{{ content.field_productos }}</div>
             <div class="servicios-emresa">{{ content.field_servicios }}</div>
             <div class="pagina-web">{{ content.field_pagina_web }}</div>
             <div class="comollegar">{{ content.field_como_llegar }}</div>
         </div>
         <div class="mapa mx-auto sm-col-12">{{ content.field_mapa }}</div>
     </div>
  {% endblock %}
</article>
