{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
bikuma
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {# {{ content }} #}
    {{ dump(content|keys) }}
    <div class="comollegar">{{ content.field_como_llegar }}</div>
  {% endblock %}
</article>
