{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
     {#{{ content }} #}
     {#<pre><h2>Context keys:</h2>{{ dump(_context|keys) }}</pre>#}
     <h1 class="nombre_empresa text-uppercase text-center">{{ content.field_nombre_comercial }}</h1>
     <div class="logo-empresa mx-auto">{{ content.field_company_thumbnail }}</div>
     <div class="body">{{ content.body }}</div>
     <hr>
     <pre><h3>Content keys:</h2>{{ dump(content|keys) }}</h3></pre>
    {#<div class="comollegar">{{ content.field_como_llegar }}</div>#}
  {% endblock %}
</article>
